<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Create-Post | Node App</title>
    </head>
    <body>
        <%- include("nav")%>

        <h1>This is Create Post Page</h1>
        <form action="/post/create/<%= userid%>" method="post">
            <input name="title" type="text" placeholder="post title" />
            <br /><br />
            <textarea
                name="description"
                placeholder="enter descritpion here..."
            ></textarea>
            <br />
            <br />
            <button>Create Post</button>
        </form>
    </body>
</html>
