*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body{
    height: 100%;
    width: 100%;
}
.box1{
    height: 100%;
    width: 100%;
    background: tomato;
}

.box2{
    height: 100%;
    width: 100%;
    background: violet;
}
.box1 > h1{
    color: white;
    position: fixed;
    top: 30%;
    left: 10%;
}
.box2 > h1{

    color: green;
    position: sticky;
    top: 20%;
    /* width: 100%; */
    /* text-align: center; */
    margin-left: 100px;
/* here in sticty left right was not working */

}
