*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

.container{
    width: 100%;
    height: 100%;
    background-image: url(https://wise.com/imaginary-v2/a1aff2ea163604c7be42140235af0772.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.5);
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  
    margin: 0px 10px; 
}
 h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
 p{
    padding: 15px 0;
    font-size: large;
    font-family: monospace;
    font-weight: 900;
}
 button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.page2{
    height: 100%;
    width: 100%;

    background-image: url(https://img.freepik.com/free-photo/beautiful-manhattan-bridge-new-york-usa_181624-48458.jpg?w=996&t=st=1714016686~exp=1714017286~hmac=bd187a5e5b538adc9dce08f830751755c49015823159f12eda0307868aa54f51);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.page3{
    height: 100%;
    width: 100%;

    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/London_Skyline_%28125508655%29.jpeg/1024px-London_Skyline_%28125508655%29.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
