*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body{
height: 100%;
width: 100%;
}
.box{
    width: 200px;
    height: 200px;
    background-color: greenyellow;
    position: absolute;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation: boxmove 3s linear 1s infinite backwards; */
    animation: boxmove 3s linear 1s 2 both;
    /* animation: boxmove 3s linear 1s 3 forwards; */
}

.box2{
    width: 200px;
    height: 200px;
    background-color: violet;
    position: absolute;
    animation: boxpro 3s linear 1s 2 both;
}


@keyframes boxmove{
    from{
        left: 20%;
        transform: rotate(0deg) scale(0.2) ;
    }
    to{
        transform: rotate(1000deg) scale(0.9);
       left: 80%;
    }
}

@keyframes boxpro{
    0%{
        top: 0;
        left: 0;
    }
    50%{
        top: 0;
        left: 85%;
    }
    75%{
        top: 70%;
        left: 85%;
    }
    100%{
        top: 70%;
        left: 0%;
    }
}