*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body{
height: 100%;
width: 100%;
}

main{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 30px;
}
.card{
    width: 270px;
    height: 450px;
    background: rgb(8,23,54);
background: radial-gradient(circle, rgba(8,23,54,1) 0%, rgba(1,63,70,1) 50%, rgba(6,14,34,1) 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0px white;
}

.card img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 10px     ;
    border-top-right-radius: 10px     ;
}

.card h1{
    color: rgb(98, 167, 231);
    font-size: 25px;
    font-family: monospace;
}

.card p{
    color: rgb(156, 233, 229);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 0 10px;
}

.card button{
    margin-top: 5px;
    padding: 5px 20px;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    background-color:#2194a1 ;
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: #4065af;
}