* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
html,
body {
    height: 100%;
    width: 100%;
}
div {
    margin: 50px;
    padding: 20px 0;
    padding: 50px;
    /* width: 18%; */
    /* height: 50%; */
    text-align: center;
    font-family: Helvetica;
    box-shadow: 0 0 10px rgb(148, 147, 147);
    border-radius: 5px;
}

div > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 3px solid tomato;
}

div > h2 {
    font-weight: 900;
}

div > small {
    color: rgb(181, 179, 179);
    font-weight: 600;
}

div > p {
    margin: auto; /* horizontal centers the block element*/
    margin-top: 15px;
    margin-bottom: 20px;
    width: 80%;
}

div > button {
    color: white;
    border-radius: 3px;
    border: none;
    padding: 8px 20px;
    background: linear-gradient(to bottom right, #f2709c, #ff9472);
}