*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
div {
    text-align: center;
    padding: 15px;
    margin: 50px;
    width: 50%;
    background-color: rgb(150, 172, 220);
    box-shadow: 3px 3px 3px ;
}
div > img{
    height: 110px;
    width: 110px;
    object-fit: cover;
    object-position: right;
    border-radius: 50%;
    border: 5px solid blueviolet;
}
div > h1{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(9, 51, 114);
}
div > h3{
color: rgb(25, 75, 169);
font-family: sans-serif;
}

div > p{
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;;
    /* text-align: justify; */
    color: rgb(255, 255, 255);
    padding: 5px;   
}
div > button{
    background: linear-gradient(to right,blueviolet,purple);
    padding: 7px;
    border-radius: 10px;
     color: white;
}