*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
.b1{
 width:50%;
 background-color: tomato;
 /* padding: 10px; */
 /* padding: 50px 20px; top/bottom right/left */
 padding: 10px 40px 80px 120px; /* top right bottom left */

 border: 10px solid blue;

margin: 50px;

}

.b2{
    width: 50%;
    background-color: green;
    padding: 20px 40px;
    border: 10px solid blue;
    margin: 50px;
    /* margin: 10px 50px; top/bottom right/left */
    /* margin: 10px 20px 30px 40px; top right bottom left */
    /* margin-top: 10px; same as it is in other direction */
    
}
.b3{
    width: 50%;
    background-color: yellow;
    padding: 20px 40px;
    margin: 50px;
    border-top: 5px solid black;
    border-bottom: 5px solid red;
    border-left: 10px solid rgb(0, 255, 4);
    border-right: 10px solid blue;
}
.b4{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    margin: 50px;
}
.b5{
    background-color: aquamarine;
    margin: 50px;
    border-radius: 10px;
    border-bottom-right-radius: 50px;
}